body
{
  color: white;
  background: cornflowerblue;
  font-family: 'Stylish', sans-serif;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px ridge black;
  width: 350px;
  height: 300px; 
}
#result_gesture_name ,#result_gesture_name2  
{
  color: black;
}
.gesture_name
{
  font-size: 40px;
}
.gesture
{
  font-size:48px;
}
.heading {
  font-size: 25px ;
  border-radius: 10px;
  letter-spacing: 10px;
  box-shadow: 5px 5px 18px white;


}
span {
  font-size: 50px;
}
label {
  font-size: 18px;
  color: cornflowerblue;
  padding: 6px;
  border-radius: 25px;
  background-color: mintcream;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  button:hover {background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }